# Node modules
frontend/node_modules
backend/node_modules

# Environment files
frontend/.env
backend/.env

# Optional build files
frontend/dist
frontend/build
backend/dist

frontend/docs
backend/docs
